# EXERCISES : MODULE 5

In [8]:
empty_list = []
print(len(empty_list))

0

In [11]:
students = ['Abubakar', 'Hamisu', 'Idris', 'Shehu', 'Buhari']
print(students)

['Abubakar', 'Hamisu', 'Idris', 'Shehu', 'Buhari']

In [13]:
print(len(students))

5

In [21]:
print(students[::2])

['Abubakar', 'Idris', 'Buhari']

In [29]:
mixed_data_types = ['Mujahid', 26, '183cm', 'single', 'mariri_town']
print(mixed_data_types)

['Mujahid', 26, '183cm', 'single', 'mariri_town']

In [31]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [34]:
len(companies)

7

In [36]:
print(companies[::3])

['Facebook', 'Apple', 'Amazon']

In [39]:
companies[0] = 'Dangote'
print(companies)

['Dangote', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [41]:
companies.append('MTN')
print(companies)

['Dangote', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'MTN', 'MTN']

In [43]:
companies.insert(4, "9mobile")
print(companies)

['Dangote', 'Google', 'Microsoft', 'Apple', '9mobile', '9mobile', 'IBM', 'Oracle', 'Amazon', 'MTN', 'MTN']

In [45]:
companies.sort()
print(companies)

['9mobile', '9mobile', 'Amazon', 'Apple', 'Dangote', 'Google', 'IBM', 'MTN', 'MTN', 'Microsoft', 'Oracle']

In [49]:
Dangote.upper()
print(Dangote)

NameError: name 'Dangote' is not defined

In [51]:
print(companies.index('Amazon'))

2

In [10]:
print('Apple' in companies)

True

In [11]:
companies.sort()
print(companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [7]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.sort(reverse = True)
print(companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [27]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
last_three_companies = companies[-4:-1]
print(last_three_companies)

['Apple', 'IBM', 'Oracle']

In [28]:
first_three_companies = companies[0:3]
print(first_three_companies)

['Facebook', 'Google', 'Microsoft']

In [30]:
middle_company = companies[3]
print(middle_company)

Apple

In [32]:
remove_first_company = companies [1:]
print(remove_first_company)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [36]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.remove('Facebook')
print(companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [38]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.remove('Apple')
print(companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [41]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.remove('Amazon')
print(companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [51]:
companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
companies.clear()
print(companies)

[]

In [57]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
front_end.extend(back_end)
print('Front_end_&_back_end:', front_end)

Front_end_&_back_end: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [60]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [63]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(min(ages))

19

In [65]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(max(ages))

26

In [4]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
min_age = min(ages) 
max_age = max(ages) 
ages.append(min_age)
ages.append(max_age)
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]

In [10]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
n = len(ages)
if n % 2 == 0:
    median = (ages[n // 2 - 1] + ages[n // 2]) / 2
else: 
    median = ages[n // 2]
print(f"The median age is {median}")

The median age is 24.0

In [13]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
total_sum = sum(ages)
len(ages) 
number_of_ages = len(ages)
average_age = total_sum / number_of_ages
print(f"The average age is {average_age}")

The average age is 22.8

In [15]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
max_age = max(ages)
min_age = min(ages)
range = max_age - min_age
print(range)

7

In [20]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
total_sum = sum(ages)
number_of_ages = len(ages)
average_age = total_sum / number_of_ages
min_age = min(ages)
max_age = max(ages)
min_diff = abs(min_age - average_age)
max_diff = abs(max_age - average_age)
print(f"Absolute difference between min age and average age: {min_diff}")
print(f"Absolute difference between max age and average age: {max_diff}")

Absolute difference between min age and average age: 3.8000000000000007
Absolute difference between max age and average age: 3.1999999999999993

In [34]:
countries = ['Afghanistan', 'Albania',  'Algeria',  'Andorra',  'Angola',   'Antigua_and_Barbuda',  'Argentina',    'Armenia',   'Australia',   'Austria',   'Azerbaijan',   'Bahamas',   'Bahrain',   'Bangladesh',   'Barbados',   'Belarus',   'Belgium',   'Belize',   'Benin',   'Bhutan',   'Bolivia',   'Bosnia and Herzegovina',   'Botswana',   'Brazil',   'Brunei',   'Bulgaria',   'Burkina Faso',   'Burundi',   'Cambodia',   'Cameroon',   'Canada',   'Cape Verde',   'Central African Republic',   'Chad',   'Chile',   'China',   'Colombi',   'Comoros',   'Congo (Brazzaville)',   'Congo',   'Costa Rica',   "Cote d'Ivoire",   'Croatia',   'Cuba',   'Cyprus',   'Czech Republic',   'Denmark',   'Djibouti',   'Dominica',   'Dominican Republic',   'East Timor (Timor Timur)',   'Ecuador',   'Egypt',   'El Salvador',   'Equatorial Guinea',   'Eritrea',   'Estonia',   'Ethiopia',   'Fiji',   'Finland',   'France',   'Gabon',   'Gambia, The',   'Georgia',   'Germany',   'Ghana',   'Greece',   'Grenada',   'Guatemala',   'Guinea',   'Guinea-Bissau',   'Guyana',   'Haiti',   'Honduras',   'Hungary',   'Iceland',   'India',   'Indonesia',   'Iran',   'Iraq',   'Ireland',   'Israel',   'Italy',   'Jamaica',   'Japan',   'Jordan',   'Kazakhstan',   'Kenya',   'Kiribati',   'Korea, North',   'Korea, South',   'Kuwait',   'Kyrgyzstan',   'Laos',   'Latvia',   'Lebanon',   'Lesotho',   'Liberia',   'Libya',   'Liechtenstein',   'Lithuania',   'Luxembourg',   'Macedonia',   'Madagascar',   'Malawi',   'Malaysia',   'Maldives',   'Mali',   'Malta',   'Marshall Islands',   'Mauritania',   'Mauritius',   'Mexico',   'Micronesia',   'Moldova',   'Monaco',   'Mongolia',   'Morocco',   'Mozambique',   'Myanmar',   'Namibia',   'Nauru',   'Nepal',   'Netherlands',   'New Zealand',   'Nicaragua',   'Niger',   'Nigeria',   'Norway',   'Oman',   'Pakistan',   'Palau',   'Panama',   'Papua New Guinea',   'Paraguay',   'Peru',   'Philippines',   'Poland',   'Portugal',   'Qatar',   'Romania',   'Russia',   'Rwanda',   'Saint Kitts and Nevis',   'Saint Lucia',   'Saint Vincent',   'Samoa',   'San Marino',   'Sao Tome and Principe',   'Saudi Arabia',   'Senegal',   'Serbia and Montenegro',   'Seychelles',   'Sierra Leone',   'Singapore',   'Slovakia',   'Slovenia',   'Solomon Islands',   'Somalia',   'South Africa',   'Spain',   'Sri Lanka',   'Sudan',   'Suriname',   'Swaziland',   'Sweden',   'Switzerland',   'Syria',   'Taiwan',   'Tajikistan',   'Tanzania',   'Thailand',   'Togo',   'Tonga',   'Trinidad and Tobago',   'Tunisia',   'Turkey',   'Turkmenistan',   'Tuvalu',   'Uganda',   'Ukraine',   'United Arab Emirates',   'United Kingdom',   'United States',   'Uruguay',   'Uzbekistan',   'Vanuatu',   'Vatican City',   'Venezuela',   'Vietnam',   'Yemen',   'Zambia',   'Zimbabwe', ]
num_countries = len(countries)
if num_countries % 2 == 0:
    middle1 = countries[num_countries // 2 - 1]
    middle2 = countries[num_countries // 2]
    middle_countries = [middle1, middle2] 
else:  
    middle_countries = (countries[num_countries // 2])  
 print(f"The middle country/countries: {middle_countries}")

IndentationError: unindent does not match any outer indentation level (<string>, line 9)

In [44]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first, second, third, *scandic_countries = countries 
print(f"First country: {first}") 
print(f"Second country: {second}")
print(f"Third country: {third}")
print(f"rest: {scandic_countries}")

First country: China
Second country: Russia
Third country: USA
rest: ['Finland', 'Sweden', 'Norway', 'Denmark']