# SETS_EXERCISES
it_companies = {'Facebook', 'Google', 'Microsoft','Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# EXERCISE_1

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft','Apple', 'IBM', 'Oracle', 'Amazon'}
len(it_companies)

7

In [9]:
it_companies = {'Facebook', 'Google', 'Microsoft','Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Apple', 'Microsoft', 'Oracle', 'Twitter', 'Google', 'Amazon', 'Facebook'}

In [16]:
it_companies = {'Facebook', 'Google', 'Microsoft','Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.update(['Telegram', 'Instagram', 'MTN', 'ETISALAT'])
print(it_companies)

{'Microsoft', 'Amazon', 'Facebook', 'Instagram', 'Apple', 'Google', 'ETISALAT', 'MTN', 'Oracle', 'IBM', 'Telegram'}

In [19]:
it_companies = {'Facebook', 'Google', 'Microsoft','Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Oracle')
print(it_companies)

{'IBM', 'Apple', 'Microsoft', 'Google', 'Amazon', 'Facebook'}

In [ ]:
For remove, If the item is not found remove() method will raise errors. 
However, discard() method doesn't raise any errors.

# EXERCISE_2

In [1]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

In [3]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [5]:
A.isdisjoint(B)

False

In [7]:
B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [9]:
A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [11]:
A.symmetric_difference(B)

{27, 28}

In [15]:
del A

NameError: name 'A' is not defined

In [17]:
del B

NameError: name 'B' is not defined

# EXERCISE_3

In [ ]:
age = {22, 19, 24, 25, 26, 24, 25, 24}

In [20]:
list_ages = [22, 19, 24, 25, 26, 24, 25, 24]
ages_set = set(list_ages)
length_of_list = len(list_ages) 
length_of_set = len(ages_set)
if length_of_list > length_of_set: 
    bigger = "list" 
elif length_of_list < length_of_set:
     bigger = "set" 
else: bigger = "both are equal"
print(f"Length of the list: {length_of_list}")
print(f"Length of the set: {length_of_set}")
print(f"The {bigger} is bigger.")

Length of the list: 8
Length of the set: 5
The list is bigger.

In [21]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words)
print(f"Unique words: {unique_words}")
print(f"Number of unique words: {num_unique_words}")

Unique words: {'a', 'and', 'I', 'love', 'am', 'to', 'teacher', 'teach', 'people', 'inspire'}
Number of unique words: 10