# TUPLE_EXERCISES

In [2]:
empty_tuple = ()
print(empty_tuple)

()

In [4]:
type(empty_tuple)

tuple

In [9]:
brothers = ('hamisu', 'shamsu', 'bilya')
sisters = ('fatima', 'bahijja', 'zainab')
print(brothers)
print(sisters)

('hamisu', 'shamsu', 'bilya')
('fatima', 'bahijja', 'zainab')

In [11]:
siblings = brothers + sisters
print(siblings)

('hamisu', 'shamsu', 'bilya', 'fatima', 'bahijja', 'zainab')

In [14]:
len(siblings)

6

In [17]:
family_members = ('hamisu', 'shamsu', 'bilya', 'fatima', 'bahijja', 'zainab')
family_members = list(family_members)
family_members[0] = 'nasir'
family_members[1] = 'naima'
print(family_members)

['nasir', 'naima', 'bilya', 'fatima', 'bahijja', 'zainab']

In [19]:
family_members = ('hamisu', 'shamsu', 'bilya', 'fatima', 'bahijja', 'zainab')
family_members = list(family_members)
family_members.append('nasir')
family_members.append('naima')
print(family_members)

['hamisu', 'shamsu', 'bilya', 'fatima', 'bahijja', 'zainab', 'nasir', 'naima']

# EXERCISE 2

In [25]:
family_members = ('nasir', 'naima', 'hamisu', 'shamsu', 'bilya', 'fatima', 'bahijja', 'zainab')
family_members = list(family_members)
father, mother, *remaining_family_members = family_members
print(father)
print(mother)
print(remaining_family_members)

nasir
naima
['hamisu', 'shamsu', 'bilya', 'fatima', 'bahijja', 'zainab']

In [27]:
fruits = ('apple', 'banana', 'cherry')
vegetables = ('carrot', 'broccoli', 'spinach')
animal_products = ('milk', 'egg', 'cheese')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'egg', 'cheese')

In [29]:
food_stuff_tp = ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'egg', 'cheese')
food_stuff_lt = list(food_stuff_tp) 
print(food_stuff_lt)

['apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'egg', 'cheese']

In [34]:
food_stuff_tp = ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'egg', 'cheese')
middle_item = food_stuff_tp [4]
print(middle_item)

broccoli

In [36]:
first_three_items = food_stuff_tp [0:3]
print(first_three_items)

('apple', 'banana', 'cherry')

In [41]:
last_three_items = food_stuff_tp [-3:]
print(last_three_items)

('milk', 'egg', 'cheese')

In [46]:
food_stuff_tp = ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'egg', 'cheese')
del food_stuff_tp
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

In [48]:
food_stuff_tp = ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'egg', 'cheese')
print('spinach' in food_stuff_tp)

True

In [54]:
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)

False

In [57]:
nordic_countries = ('Denmark', 'Finland', 'Iceland', 'Norway', 'Sweden')
print('Iceland' in nordic_countries)

True